body{
    background: #1e1d1f;
}
.bg{
    background-image: url(../img/Fondos/dragon1.jpg);
    background-position: center center;
}

#btn-google{
    width: 100%;
    height: 40%;
    padding: 10px
}
@media(max-width:900px){
    .form{
        padding: 0px;
    }
}
@media(max-width: 1600px){
    .form{
        width: 100%;
    }
    .form{
        padding: 10px;
    }
}