body{
    background-color: rgb(48,48 ,48 );
}

h1{
    color: aliceblue;
}

h4{
    color: black;
}

.titulousuarios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/Fondos/fondoseguidores2.jpg);
    border-radius: 10px;
    margin: 0 5% 0 5%;
    height: 600px;
}

.bt3 {
    margin: 40px 8% 20px 8%;
    background-image: linear-gradient(to bottom, #741212, #7a1817, #801d1d, #852322, #8b2828, #8e2827, #922727, #952726, #97201e, #991816, #9a0e0c, #9b0000);
    border-radius: 15px;
    height: 100%;
    padding-bottom: 2em;

}

.bt2 {
    height: 10%;
    width: 80%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: linear-gradient(to left bottom, #bbb4b4, #cbc6c7, #dbd8da, #ebeaec, #fdfdfd);
    box-shadow: 5px 5px 5px 5px #00000065;
    display: flex;
    justify-content: space-around;
}

.bt2 h1 {
    margin: 1%;
}

.bt1::-webkit-scrollbar {
    display: none;
}

.b1 {
    -ms-overflow-style: none;
}

img{

    border-radius: 10px ;
}