body{
    background-color: rgb(48,48 ,48 );
}

h1{
    color: aliceblue;
}

h4{
    color: black;
}

.titulousuarios{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bt1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/Fondos/fondoseguidores2.jpg);
    border-radius: 10px;
    margin: 0 5% 0 5%;
    height: 600px;
}

.bt3 {
    margin: 40px 8% 20px 8%;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%);
    border-radius: 15px;
    height: 100%;
    padding-bottom: 2em;

}

.bt2 {
    height: 10%;
    width: 80%;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    background-image: linear-gradient(to right, #cfcfcf, #c6c6c6, #bdbcbd, #b4b3b3, #abaaaa, #a7a6a6, #a3a2a2, #9f9e9e, #9f9e9e, #9f9f9f, #9f9f9f, #9f9f9f);
    box-shadow: 5px 5px 5px 5px #00000065;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.bt2 h1 {
    margin: 1%;
}

.bt1::-webkit-scrollbar {
    display: none;
}

.b1 {
    -ms-overflow-style: none;
}

img{

    border-radius: 10px ;
}

.perfil{

    height: 3em;
}

.duser{
    padding: 5px;
}