<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <title>Ayuda</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'core/css/ayuda.css' %}">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Orelega+One&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

  <link rel="icon" href="{% static 'core/img/logos/LOGO1_2.png' %}">

  <!--link de chat ayuda-->
  <script src="//code.tidio.co/wxbnq3g4lwv6fxx2dljozesiih7dopvh.js" async></script>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio' %}">KAI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
        aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Más opciones
            </a>

            <!--RELLENAR CON BOTONES EXTRAS -->
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
              <li><a class="dropdown-item" href="{% url 'inicio' %}">Inicio</a></li>
              <li><a class="dropdown-item" href="{% url 'chat' %}">Chat</a></li>
              <li><a class="dropdown-item" href="{% url 'ayuda' %}">Ayuda</a></li>
              <li><a class="dropdown-item" href="{% url 'index' %}">Cerrar sesión</a></li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link " href="{% url 'api' %}">Consulta precio de RP</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container">
    <div class="t1">
      <h1>Hola! esta es la pagina de ayuda KAI</h1>
      <h2></h2>
    </div>


    <div class="c1">

      <div class="overflow-auto d1">
        <!--INOCNOS DE PLAY-->
        <div class="iconosplay">

          <div class="loader">
            <svg viewBox="0 0 80 80">
              <circle id="test" cx="40" cy="40" r="32"></circle>
            </svg>
          </div>

          <div class="loader triangle">
            <svg viewBox="0 0 86 80">
              <polygon points="43 8 79 72 7 72"></polygon>
            </svg>
          </div>

          <div class="loader">
            <svg viewBox="0 0 80 80">
              <rect x="8" y="8" width="64" height="64"></rect>
            </svg>
          </div>

        </div>

        <!--CONTENIDO INSTRUCCIONES-->

        <div class="i1">
          <div class="t2">
            <h4>Rellena el formulario con los datos correspondientes:</h4>
          </div>

          <div class="t2">
            <h5>
              -Nombre y apellido<br>
              -Correo electronico <br>
            </h5>
          </div>

          <div class="t2">
            <h4>No olvides detallar lo mejor posible tu petición de ayuda en la caja:</h4>
          </div>

          <div class="t2">
            <h4>
              -Comentarios<br>
            </h4>
          </div>
        </div>

        <div class="i1">

          <div>
            <h3>
              Tambien puedes pedir ayuda a nuestro chat que se muestra en la esquina inferior derecha 
            </h3>
            <div class="imgins">
              <img class="img-i1" src="{% static 'core/img/Logos/fca.png' %}" alt="">
            </div>
          </div>

        </div>

      </div>

      <div class="d2">

        <form action="" id="validationForm" name="validationForm">
          <!--NOMBRE-->
          <div class="container">
            <div class="mb-3">
              <label class="form-label" for="nombre">
                Nombre y apellido
              </label>
            </div>
            <div class="mb-3">
              <input id="nombre" type="text" class="form-control input nombre"
                placeholder="Ingresa tu nombre y apellido">
              <span class="nom_correcto">✔</span>

            </div>
            <!--ETIQUETAS DE ERRORES NOMBRE-->
            <span class="sn_nomap" id="err1"> (*) Este campo es obligatorio</span>
            <span class="error_nombre">Debe ingresar nombre y apellido</span>
            <br>
          </div>

          <!--CORREO-->
          <div class="container">
            <div>
              <label class="form-label" for="email">
                Correo Electronico
              </label>
            </div>
            <div>
              <input id="email" type="email" class="form-control input" placeholder="Ingresa tu Correo ">
              <span id="success" style="display:none;color:green;">Correo válido ✔</span>
            </div>
            <!--ETIQUETAS DE ERRORES CORREO-->
            <span id="error" style="display:none;color:red;">Correo no válido</span>
            <span class="sn_correo" style="display:none;color:red;">Debe introducir su correo
              electrónico.</span>
          </div>

          <!--COMENTARIO-->
          <div class="p-3">
            <div>
              <label for="comentario" class="form-label etiquetacom">
                COMENTARIO
              </label>
            </div>
            <div>
              <span class="err_com" id="errorcomentario">( Debe contener 30 caracteres minimo.)</span>
            </div>
            <div>
              <textarea class="form-control cajacomentario" name="comentario" id="comentario" cols="10" rows="10"
                placeholder="Debe contener un minimo de 30 caracteres su comentario."></textarea>
            </div>

            <div class="botones">
              <button type="submit" class="btn btn-light" id="enviar">Enviar</button>
              <button type="reset" class="btn btn-light " id="enviar">Limpiar formulario</button>
            </div>

          </div>
        </form>

      </div>

    </div>


  </div>



  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'core/js/ayuda.js' %}"></script>
  <script src="{% static 'core/js/ayuda2.js' %}"></script>
  <!--  <script src="js/formulario_ayuda.js"></script>-->
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->

  <!--confirmacion de envio con sweet alert , evitar que se recargue la pagina con submit -->
</body>


</html>